.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 100%;
}

.login__card {
  width: 500px;
  height: 500px;
  border: solid black 5px;
  border-radius: 50px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 20px;
  }
}

.login__header {
  font-size: 30px;
  margin-bottom: 70px;
}

.login__register-link {
  margin-top: 50px;
}

#auth-link {
  color: #0c6ffd;
}

#auth-link:hover {
  text-decoration: underline;
}
