.navibar,
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--primary);
  font-size: 20px;
}

.navibar {
  height: 100%;
  width: 200px;
  padding-top: 65px;
  flex-direction: column;
  align-items: left;
}

.header {
  width: 100%;
  height: 65px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.navibar-item,
.header-item {
  color: var(--white);
}

.navibar-item {
  list-style-type: none;
  padding: 15px 0px 15px 20px;
}

.navibar-item:hover {
  background-color: var(--primary-hover);
}

#selected {
  background-color: var(--primary-dark);
}

.header__logout {
  margin-right: 15px;
}

.header__logout:hover {
  color: var(--gray);
}

.header__title > * {
  top: 0;
  user-select: none;
}

.header__icon {
  position: fixed;
  height: 70px;
  margin-left: 5px;
  margin-top: -7px;
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.4));
}

.header__text {
  position: fixed;
  height: 45px;
  margin-left: 75px;
  margin-top: 10px;
  filter: invert() drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
}

.logout__dropdown {
  position: fixed;
  background-color: var(--primary-hover);
  padding: 15px 15px;
  padding-right: 101%;
  margin-top: 22px;
  margin-left: -15px;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.6);
  opacity: 95%;
}

.logout__dropdown:hover {
  background-color: var(--primary-dark);
}

.flipped {
  transform: scaleY(-1);
}
