.navibar,
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--primary);
  font-size: 20px;
}

.navibar {
  height: 100%;
  width: 200px;
  padding-top: 60px;
  flex-direction: column;
  align-items: left;
}

.header {
  width: 100%;
  height: 60px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.navibar-item,
.header-item {
  color: var(--white);
}

.navibar-item {
  list-style-type: none;
  padding: 15px 0px 15px 20px;
}

.navibar-item:hover {
  background-color: var(--primary-hover);
}

#selected {
  background-color: var(--primary-dark);
}

.header__logout {
  margin-right: 40px;
}

.header__title > * {
  top: 0;
}

.header__icon {
  position: fixed;
  height: 70px;
  margin-left: 5px;
  margin-top: -10px;
}

.header__text {
  position: fixed;
  height: 45px;
  margin-left: 75px;
  margin-top: 7px;
  filter: invert();
}
