/** COLOR PALETTE **/
:root {
  --primary: #132e74;
  --primary-dark: #0e193b;
  --primary-hover: #0f204f;

  --info: #ffb400;
  --warning: #f61d1d;

  --white: white;
  --gray: lightgray;
  /* --dark: #3b3b3b; */
  /* --darker: #252525; */

  --outline: lightgray;

  --appBackground: white;
}

body {
  font-family: sans-serif;
  background-color: var(--appBackground);
}

.app-container {
  margin-top: 80px;
  margin-left: 210px;
}

/* prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}
