/** COLOR PALETTE **/
/* :root {
  --primary: #4cb44a;
  --primary-dark: #3b8d39;
  --primary-light: #59d457;
  --primary-darker: #398536;

  --secondary: #448cde;
  --secondary-dark: #2870c3;

  --info: #ffb400;
  --warning: #f61d1d;

  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --darker: #252525;
  --outline: #c3c0c0;

  --appBackground: #222222;
} */

body {
  font-family: sans-serif;
  margin-top: 50px;
}

/* prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}
