.about {
  background-color: var(--white);
  position: fixed;
  padding-bottom: 100%;
}

.about__header {
  margin: 35px 50px 0px 50px;
  font-size: 20px;
  line-height: 22px;
}

.about__header .about__link,
.about__header .about__link:visited {
  color: #0c6ffd;
}
.about__header .about__link:hover {
  text-decoration: underline;
}

.about__turtle-link,
.about__turtle-link:visited {
  color: black;
  font-weight: bold;
}

.about-container {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  min-width: 790px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-container > * {
  margin: 50px 50px 0px 0px;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: filter 0.2s ease-in-out;
}
.about__item:hover {
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
  transition: filter 0.1s ease-in-out;
}

.about__img {
  --icon-size: 250px;

  height: var(--icon-size);
  width: var(--icon-size);
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.4));
  user-select: none;
  margin-bottom: 20px;
}
